.athlates-white-board-parent-class{
	padding: 10px;
	border: 1px solid #7F7F7F;
	margin-bottom: 10px;	
	/*text-align: center;*/
}

.addresponder-with-email-templates-class span{
	padding-right: 30px;
}

.addresponder-with-email-templates-class select{
	background: transparent;
  /*  width: 268px; */
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc; 
    height: 30px;
}

.reponder-type{
	width: 150px;
}				

.responder-template{
	 width: 268px;
}

.responder-digit{
	width: 70px;
}

.responder_cform{
	background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc; 
    height: 30px;
}

.respond-select-guide{
	margin-right: 268px;
	padding: 10px;
}

.board-class-name{
	background: transparent;
	padding: 2px;
    font-size: 17px;		  
  }

 .add-remove-action, .add-remove-classes{
	font-size: 15px;
 }
 
.add-remove-action span, .add-remove-classes span{
	cursor: pointer;
 }
 
 .add-remove-action span.remove-component, .add-remove-classes span.remove-class{
	color: #A52A2A;
 }
 
.add-remove-action span.add-component, .add-remove-classes span.add-class{
	color:#2828D5;
 }
 
 
 /* metabox to posts css */
p#button-primary{
	margin-bottom: 10px;
}