@CHARSET "UTF-8";

div.athlates-white-board{
	float: right;
}

.athlates-white-board h1{
	moz-user-select: none !important;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #E0E0E0 100%) repeat scroll 0 0 transparent !important;
    border: 1px solid #AAAAAA !important;
    border-radius: 3px 3px 3px 3px !important;
    color: #2F2F2F !important;
    display: inline-block !important;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold !important;
    line-height: 1 !important;
    margin: 0 !important;
    padding: 10px !important;
    position: relative !important;
    text-shadow: 0 1px 0 white !important;
}

.athlates-white-board h1{
	cursor: pointer !important;
    text-decoration: none !important;
    float: right;
}

.athlates-white-board h1:hover{
	border-color: #777777 !important;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset !important;
	
}

.whiteboard-window{
	position:absolute;
    height: 500px;
    width: 350px;    
    border: 4px solid black;    
    border-radius: 3px 3px 3px 3px !important;
  	z-index:10; 
    background-color: #FFFFFF;

   	padding: 10px;
    
    /*scroll*/
    overflow: auto;
}

.whiteboard-window-hidden{
	visibility: hidden;
}

.athlates-white-board-popup{
	position: relative;
	height: 20px;
    width: 305px;
    float: right;
}

.whiteboard-window table{
	border: none;
}

.whiteboard-window table td{
	border: none;	
}

.whiteboard-classes td{
	text-align: center;
}


.whiteboard-branding{
	padding: 10px;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.whiteboard-branding span{
	padding: 5px;
}

span.add-new-entry{
	cursor: pointer;
}



table.whitebaord-class-entries td{
	/* this makes borders/margins work */   
	border-bottom: 1px solid black;
}

table.whitebaord-class-entries tr{
	cursor: pointer;
}

tr.headlinesholder{
	cursor: default;	
}

tr.headlinesholder td{
	font-weight: 900;	
}


table.whitebaord-class-entries tr:hover{
	background-color: #BFBFBF;
}

td.whiteboard-more:hover{
	font-size: 15px;
	font-weight: 900;
}

/*
Transitions are made
*/
.hidden-entries{
	display: none;
}


/* Class with entries */
.whiteboard-class{
	cursor: pointer;	
}

.selected-class{
	background-color: #E5E5E5;
	cursor: default;
}


/*ajax response showing like athlates contribution to the post and class */
div.ajax-showing-div{
	display: none;
	text-align: center;
}

div.ajax-showing-div-actions{
	display: none;
}

form.ajax-profile-info-editing-form{
	display: none;
}

form.ajax-email-verify-form{
	display: none;
	text-align: center;
}


div.ajax-showing-div hr{
	width: 100%;
	margin: 0;
}


dl.athlates-profile-viewing dt{
	padding: 2px;
}

dl.athlates-profile-viewing dd{
	margin: 0;
}

a.athlates-profile-link{
	background-color: #7AD5FF #48C5FE #098AC6 !important;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	margin-left: 10px;
	padding: 5px;	
}

/* back and edit buttons */
div.ajax-showing-div-actions div{
	border: 1px solid black;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
}

div.ajax-showing-div-actions div:hover{
	border: 1px solid #9D8787;
	cursor: pointer;	
	background-color: #1A1A1A;
	color: #FFFFFF;
}

div.athlates-profile-back{
	float: left;
}

div.unlock-profile-info{
	float: right;	
}



div.clear{
	clear: both;
}


/* Athletes profile viewsing */
table.athletes-directory tr.odd{
	background-color: #9CC2CE;
}

table.athletes-directory{
	border: none;
}

table.athletes-directory td{
	border: none;
}


table.athletes-directory td, table.athletes-directory th{
	padding: 10px;
	/*text-align: center;*/
}


/* Single profile page */
time.date-time{
	float: left;
	padding: 15px;
}

div.class-description{
	float: left;
	padding: 15px;
}

div.class-description span.class-name{
	font-size: 17px;
	padding-right: 10px;
}

div.class-description span.blog-post-link a{
	color: #4D4D4D;
	font-style: italic;
}

div.athlete-profile{
	border-bottom: 1px solid #4D4D4D;
}


/*
athlates directory paginaion
*/
ul.athletes-pagination{
	padding: 15px;
}

ul.athletes-pagination li{
	display: inline;
}

ul.athletes-pagination li.active{
	background-color: #BFBFBF;
	color: #1A1A1A;
	cursor: default;
	padding: 0 4px 0 4px;
}
